@font-face {
    font-family: "lcdfont";
    src: url("fonts/digital-dream.fat-skew.woff") format('woff');
}

.lcd {
    font-family: lcdfont;
}

div.ilb {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    background: #ffffee;
}
